<div class="order" fxLayout="column" fxLayoutAlign="center center">
    <div>
        <img class="po" src="../../../assets/placeOrder.png" alt="">

    </div>
    <!-- <h2>Order Placed Successfully</h2> -->
    <div  fxLayout="column" fxLayoutAlign="center center">
       
        <h3 fxLayout="column" fxLayoutAlign="center center">hurray!!! your order is confirmed <br> the order id is #OD0125478 save the order id for <br> further communication  </h3>
    </div>
    <div>
        <table  class="User-table" >
            <tr fxLayoutGap="0px">
                <th style="text-align:center">Email</th>
                <th style="text-align:center">Contact us</th>
                <th style="text-align:center">Address</th>
            </tr>

            <td style="text-align:center">189489rishi@gmail.com</td>
           
            <td style="text-align:center">+91 8569854589</td>

            <td style="text-align:center">Rajarampuri Mali8 Colony Appaz Complex  E-5<br>near Ganesh Mandir
                Kolhapur 416008</td>

        </table>
    </div>
    <div>
        <button mat-flat-button class="continuebutton" color="primary" routerLink="/dashboard/getallbooks">
            Continue shopping</button>
    </div>
</div>