<div style="width: 100%; padding-left: 100px;padding-right:210px;margin-bottom: 200px; " fxLayout="column">
    <div fxLayout="column">

        <div>
            <span style="color:gray; cursor: pointer;" routerLink="/dashboard/getallbooks">Home/</span><span> Books()
            </span>
        </div>
        <div style="margin-top: 50px;" fxLayout="row ">
            <div fxLayout="row " fxLayoutAlign="center start">
                <div class="bookimg2" fxLayout="row " fxLayoutAlign="center center">
                    <img class="img2"[src]="booksArray.image" alt="book img">
                </div>
                <div>
                    <div class="bookimg1" fxLayout="row " fxLayoutAlign="center center">
                        <img class="img1" [src]="booksArray.image"  alt="book img">

                    </div>
                    <div fxLayout="row " fxLayoutAlign="space-between" style="margin-top: 30px;">
                        <button class="butt" fxLayout="row " fxLayoutAlign="center center" *ngIf="!show"
                            (click)=" hideAndShow()">ADD TO BAG</button>
                        <mat-card class="wrapper" fxLayout="row" fxLayoutAlign="center center" *ngIf="show">
                            <button class="plusminus"><img class="img5" src="./../../../assets/do_not_disturb_on_FILL0_wght400_GRAD0_opsz40.svg"
                                    alt=""></button>
                            <input class="num" [(ngModel)]=" orderQuantity" />
                            <button class="plusminus"><img class="img5"
                                    src="./../../../assets/add_circle_FILL0_wght400_GRAD0_opsz40.svg" alt=""
                                    (click)=" addToBag()"></button>

                        </mat-card>
                        <button class="butt1" fxLayout="row " fxLayoutAlign="center center" (click)="addToWishList()">
                            <mat-icon id="fav-icons">favorite</mat-icon>
                            WHISH LIST
                        </button>
                    </div>
                </div>
            </div>
            <div style="margin-left: 40px; ">
                <div fxLayout="column">
                    <div fxLayout="column">
                        <div>
                            <h2 class="title">{{booksArray.bookName}}</h2>
                        </div>
                        <div>
                            <p class="auth" id="para">{{booksArray.authorName}}</p>
                        </div>

                        <div class="ra" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center">
                            <div class="rating" fxLayout="row" fxLayoutAlign="center center">{{booksArray.rating}}<img class="Star"
                                    src="./../../../assets/430117_star_icon.png" alt=""></div>
                            <div>
                                <p id="count">{{booksArray.reviewCount}}</p>
                            </div>

                        </div>

                        <div class="price-container" fxLayout="row" fxLayoutGap="20px">

                            <div class="dicounted-price">
                                Rs.{{booksArray.discountPrice}}
                            </div>
                            <div class="actual-price">
                                Rs.{{booksArray.originalPrice}}
                            </div>
                        </div>

                    </div>
                    <hr style=" width: 100%; margin-top: 30px;">
                    <div style="margin-top: 30px;">
                        <li style="font-size: 18px;font-weight: bold;">Book Detail</li>
                        <ul style="margin-left: -15px; word-spacing:5px"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut<br> labore
                            et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris<br> nisi ut aliquip ex ea commodo
                            consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit<br> esse cillum dolore eu fugiat nulla
                            pariatur.
                            Excepteur sint occaecat cupidatat non proident,<br> sunt in culpa qui officia deserunt mollit anim id
                            est laborum.</ul>
                    </div>
                    <hr style=" width: 100%; margin-top: 30px;">
                    <!-- <div style="margin-top: 30px;"> -->
                        <!-- <span style="font-size: 20px;">Customer Feedback</span> -->
                        <!-- <mat-card -->
                             <!-- style="padding:20px;margin-top: 20px; background-color:rgb(242, 242, 255);height: 150px;border-radius: 5px;">  -->
                            <!-- <span>Overall rating</span> -->
                            <!-- <div>
                                <div class="rate">

                                    <img src="../../../assets/star-gray.svg" width="22px" for="rate-1" *ngIf="rating<1">
                                    <img src="/src/assets/star-yellow.svg" width="22px" for="rate-1" *ngIf="rating>=1">
                                    <img src="/src/assets/star-gray.svg" width="22px" for="rate-2" *ngIf="rating<2">
                                    <img src="/src/assets/star-yellow.svg" width="22px" for="rate-2" *ngIf="rating>=2">
                                    <img src="/src/assets/star-gray.svg" width="22px" for="rate-3" *ngIf="rating<3">
                                    <img src="/src/assets/star-yellow.svg" width="22px" for="rate-3" *ngIf="rating>=3">
                                    <img src="/src/assets/star-gray.svg" width="22px" for="rate-4" *ngIf="rating<4">
                                    <img src="/src/assets/star-yellow.svg" width="22px" for="rate-4" *ngIf="rating>=4">
                                    <img src="/src/assets/star-gray.svg" width="22px" for="rate-5" *ngIf="rating<5">
                                    <img src="/src/assets/star-yellow.svg" width="22px" for="rate-5" *ngIf="rating>=5">
                                </div>
                            </div>
                            <div style="margin-bottom: 20px;">
                                <input style="width:100%;height:40px;border-radius: 5px;" placeholder="Enter your review" [(ngModel)]="comments">
                              
                            </div> -->

                            <!-- <h3 style="margin-top: 10px; margin-bottom: 10px">Customer Feedback</h3>
                            <div (click)="addFeedback()" fxLayout="column" style="padding: 20px 30px 20px 20px; background: #e6e6e6; width: 100%; border-radius: 5px;">
                                
                                <h4>Overall rating</h4> 
                                <div class="starContainer">
                                    <input type="radio" name="rate" id="rate-1" [(ngModel)]="rating" value="1">
                                    <label for="rate-1"><img src="../../../assets/star-gray.svg" width="22px" for="rate-1" *ngIf="rating<1"></label>
                                    <label for="rate-1"><img src="../../../assets/star-yellow.svg" width="22px" for="rate-1" *ngIf="rating>=1"></label>
                                    
                                    <input type="radio" name="rate" id="rate-2" [(ngModel)]="rating" value="2">
                                    <label for="rate-2"><img src="../../../assets/star-gray.svg" width="22px" for="rate-2" *ngIf="rating<2"></label>
                                    <label for="rate-2"><img src="/assets/star-yellow.svg" width="22px" for="rate-2" *ngIf="rating>=2"></label>
                
                                    <input type="radio" name="rate" id="rate-3" [(ngModel)]="rating" value="3">
                                    <label for="rate-3"><img src="../../../assets/star-gray.svg" width="22px" for="rate-3" *ngIf="rating<3"></label>
                                    <label for="rate-3"><img src="/assets/star-yellow.svg" width="22px" for="rate-3" *ngIf="rating>=3"></label>
                
                                    <input type="radio" name="rate" id="rate-4" [(ngModel)]="rating" value="4">
                                    <label for="rate-4"><img src="../../../assets/star-gray.svg" width="22px" for="rate-4" *ngIf="rating<4"></label>
                                    <label for="rate-4"><img src="/assets/star-yellow.svg" width="22px" for="rate-4" *ngIf="rating>=4"></label>
                
                                    <input type="radio" name="rate" id="rate-5" [(ngModel)]="rating" value="5">
                                    <label for="rate-5"><img src="../../../assets/star-gray.svg" width="22px" for="rate-5" *ngIf="rating<5"></label>
                                    <label for="rate-5"><img src="/assets/star-yellow.svg" width="22px" for="rate-5" *ngIf="rating>=5"></label>
                                </div>
                
                                <textarea type="text" matInput placeholder="Write your review"  [(ngModel)]="comments" style="overflow: hidden; resize: none !important; word-wrap: break-word; 
                                            padding: 5px; margin: 10px 0px; background: white; border-radius: 2px;" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="25" (click)="addFeedback()"></textarea>
                                <div fxLayoutAlign="end center" style="padding: 5px 0px;">
                                    <button mat-flat-button color="primary" (click)="addFeedback()">Submit</button>
                                </div>
                            </div> -->
                           
                            <!-- <div fxLayoutAlign="end center">
                             <button (click)="addFeedback()"
                             style="width:80px;border-radius: 5px;height: 30px;background-color: rgb(105, 105, 201);">Submit</button>
                            </div> -->
                        <!-- </mat-card> -->
                        <!-- <mat-card style="margin-top: 40px; border: none;" fxLayout="column">
                            <div fxLayoutGap="20px" *ngFor="let feedback of booksArr" style="margin-left: 20px;">
                                <div>
                                    <span class="user-feedback"> {{(feedback?.fullName)}}</span>
                                </div>
                                <div style="font-size: 28px;color: orange;padding-top: 10px;">
                                    <ngb-rating [max]="5" [(rate)]="feedback.rating" [readonly]="true"></ngb-rating>
                                </div>
                                <div style="padding-top: 10px">
                                    <span class="user-comment"> {{feedback?.comments}}</span>
                                </div>
                            </div>
                        </mat-card> -->
                    <!-- </div> -->
                    <h3 style="margin-top: 10px; margin-bottom: 10px">Customer Feedback</h3>
                    <div (click)="getFeedback()" fxLayout="column" style="padding: 20px 30px 20px 20px; background: #e6e6e6; width: 100%; border-radius: 5px;">
                        
                        <h4>Overall rating</h4> 
                        <div class="starContainer">
                            <input type="radio" name="rate" id="rate-1" [(ngModel)]="rating" value="1">
                            <label for="rate-1"><img src="../../../assets/star-gray.svg" width="22px" for="rate-1" *ngIf="rating<1"></label>
                            <label for="rate-1"><img src="../../../assets/star-yellow.svg" width="22px" for="rate-1" *ngIf="rating>=1"></label>
                            
                            <input type="radio" name="rate" id="rate-2" [(ngModel)]="rating" value="2">
                            <label for="rate-2"><img src="/assets/star-gray.svg" width="22px" for="rate-2" *ngIf="rating<2"></label>
                            <label for="rate-2"><img src="/assets/star-yellow.svg" width="22px" for="rate-2" *ngIf="rating>=2"></label>
        
                            <input type="radio" name="rate" id="rate-3" [(ngModel)]="rating" value="3">
                            <label for="rate-3"><img src="/assets/star-gray.svg" width="22px" for="rate-3" *ngIf="rating<3"></label>
                            <label for="rate-3"><img src="/assets/star-yellow.svg" width="22px" for="rate-3" *ngIf="rating>=3"></label>
        
                            <input type="radio" name="rate" id="rate-4" [(ngModel)]="rating" value="4">
                            <label for="rate-4"><img src="/assets/star-gray.svg" width="22px" for="rate-4" *ngIf="rating<4"></label>
                            <label for="rate-4"><img src="/assets/star-yellow.svg" width="22px" for="rate-4" *ngIf="rating>=4"></label>
        
                            <input type="radio" name="rate" id="rate-5" [(ngModel)]="rating" value="5">
                            <label for="rate-5"><img src="/assets/star-gray.svg" width="22px" for="rate-5" *ngIf="rating<5"></label>
                            <label for="rate-5"><img src="/assets/star-yellow.svg" width="22px" for="rate-5" *ngIf="rating>=5"></label>
                        </div>
        
                        <textarea type="text" matInput placeholder="Write your review"  [(ngModel)]="comments" style="overflow: hidden; resize: none !important; word-wrap: break-word; 
                                    padding: 5px; margin: 10px 0px; background: white; border-radius: 2px;"  (click)="getFeedback()"></textarea>
                        <div fxLayoutAlign="end center" style="padding: 5px 0px;">
                            <button mat-flat-button color="primary" (click)="addFeedback()">Submit</button>
                        </div>
                    </div>
                        
                    <div class="feedbackList"  fxLayout="column">
                        
                        <!-- <div class="review">
                            <div>
                                <img src="/assets/star-gray.svg" width="22px" for="rate-1" *ngIf="feedback.rating<1">
                                <img src="/assets/star-yellow.svg" width="22px" for="rate-1" *ngIf="feedback.rating>=1">
                                <img src="/assets/star-gray.svg" width="22px" for="rate-2" *ngIf="feedback.rating<2">
                                <img src="/assets/star-yellow.svg" width="22px" for="rate-2" *ngIf="feedback.rating>=2">
                                <img src="/assets/star-gray.svg" width="22px" for="rate-3" *ngIf="feedback.rating<3">
                                <img src="/assets/star-yellow.svg" width="22px" for="rate-3" *ngIf="feedback.rating>=3">
                                <img src="/assets/star-gray.svg" width="22px" for="rate-4" *ngIf="feedback.rating<4">
                                <img src="/assets/star-yellow.svg" width="22px" for="rate-4" *ngIf="feedback.rating>=4">
                                <img src="/assets/star-gray.svg" width="22px" for="rate-5" *ngIf="feedback.rating<5">
                                <img src="/assets/star-yellow.svg" width="22px" for="rate-5" *ngIf="feedback.rating>=5">
                            </div>
                            <span class="comment">{{feedback?.comments}}</span>
                        </div> -->

                         <mat-card style="margin-top: 20px; border: none;" fxLayout="column">
                            <div fxLayoutGap="20px" *ngFor="let feedback of booksArr" style="margin-left: 20px;">
                                <div>
                                    <span class="user-feedback"> {{(feedback?.details.fullName)}}</span>
                                </div>
                                <!-- <div style="font-size: 28px;color: orange;padding-top: 10px;"> -->
                                    <!-- <ngb-rating [max]="5" [(rate)]="feedback.rating" [readonly]="true"></ngb-rating> -->
                                    <!-- <img src="../../../assets/star-gray.svg" width="22px" for="rate-1" *ngIf="feedback.rating<1">
                                    <img src="../../../assets/star-yellow.svg" width="22px" for="rate-1" *ngIf="feedback.rating>=1">
                                    <img src="../../../assets/star-gray.svg" width="22px" for="rate-2" *ngIf="feedback.rating<2">
                                    <img src="../../../assets/star-yellow.svg" width="22px" for="rate-2" *ngIf="feedback.rating>=2">
                                    <img src="../../../assets/star-gray.svg" width="22px" for="rate-3" *ngIf="feedback.rating<3">
                                    <img src="../../../assets/star-yellow.svg" width="22px" for="rate-3" *ngIf="feedback.rating>=3">
                                    <img src="../../../assets/star-gray.svg" width="22px" for="rate-4" *ngIf="feedback.rating<4">
                                    <img src="../../../assets/star-yellow.svg" width="22px" for="rate-4" *ngIf="feedback.rating>=4">
                                    <img src="/assets/star-gray.svg" width="22px" for="rate-5" *ngIf="feedback.rating<5">
                                    <img src="../../../assets/star-yellow.svg" width="22px" for="rate-5" *ngIf="feedback.rating>=5">
                                </div> -->
                                <div style="padding-bottom: 15px;">
                                    <span class="user-comment"> {{feedback?.comments}}</span> <br>
                                </div>
                            </div>
                        </mat-card>
                    </div>

                </div>
            </div>
        </div>
    </div>